@charset "utf-8";
/* CSS Document */

body {
	background-color: #D6D6D6;
	background-image: url(img/1.png);	
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
body,td,th {
	color: #FFF;
}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
